<%= form_for(@diet_restriction) do |f| %>
  <% if @diet_restriction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diet_restriction.errors.count, "error") %> prohibited this diet_restriction from being saved:</h2>

      <ul>
      <% @diet_restriction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
